/* ***************************object************************************** */
body
{
    font-family: 'Montserrat Alternates', sans-serif;
}
h1
{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    color: whitesmoke;
}
h2
{
    font-size: 3rem;
    line-height: 1.5;
}
h3
{
    font-weight: bold;
}
/* ***************************Class************************************* */
.container-fluid
{
    padding: 3% 3%;
}
/* nvigation */
.navbar
{
    padding:0 0 4.5rem;
}
.nav-item
{
    padding: 0 18px;
}
.navbar-brand
{
    
    font-size: 35px;
    font-weight: bold;
}
/* buttons */
.download_button
{
    margin: 5% 3% 5% 0;
}
/* Home_image */
.home-image
{
    width: 18%;
    transform: rotate(25deg);
    position: absolute;
    right: 275px;
    top: 120px;
}
/* feature-box */
.feature-box
{
    text-align: center;
    padding: 5%;
}
.icon
{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover
{
    color:#ff4c68;
}
.testimonial-image
{
    width: 10%;
    border-radius: 100%;
    margin:10px;
}
.press-image
{
    width: 10%;
    padding: 10px 10px 30px;

}
.carousel-item
{
    padding: 7% 15%;
}
.price-cards
{
    padding:20px 30px;
}
.card-price
{
    font-weight: bolder;
}
/* ***************************ID************************************** */
#toppad
{
    padding-left: 15%;
    padding-right: 15%;
}
#title
{
    background-color:#ff4c68 ;
}
#features
{
    background-color: white;
    padding: 7% 7%;
    position: relative;
}
/* testimonial */
#testimonials
{
    text-align: center;
    background-color: #ef8172;
    font-weight: bold;
    color: whitesmoke;
    
}
#press
{
    background-color:#ef8172 ;
    padding-bottom: 3%;
    text-align: center;
}
#pricing
{
    text-align: center;
}
#cta
{
    background-color: #ff4c68;
    text-align: center;
    padding: 5% 3% 5% 5%;
}
#footer
{
    background-color: whitesmoke;
    text-align: center;
    padding: 5% 5%;
}
#foot
{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    color:  white
}



/* MEDIA QUERY */
@media (max-width:1000px)
{
    #title
    {
        text-align: center;
    }
    .home-image
    {
        position: static;
        transform: rotate(0);
        width: 50%
    }
}
